In [1]:
from llama_index.llms.openai import OpenAI
from llama_index.core.agent import ReActAgent
from llama_index.core.workflow import Context

In [2]:
import llama_index.core.agent
print(dir(llama_index.core.agent))

['AgentChatResponse', 'AgentInput', 'AgentOutput', 'AgentStream', 'AgentStreamStructuredOutput', 'AgentWorkflow', 'BaseWorkflowAgent', 'CodeActAgent', 'FunctionAgent', 'ReActAgent', 'ReActChatFormatter', 'ReActOutputParser', 'ToolCall', 'ToolCallResult', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__path__', '__spec__', 'react', 'utils', 'workflow']

In [16]:
# 시도 1
try:
    from llama_index.core.agent.react import ReActAgentWorker
    print("✅ 경로 1 성공")
except ImportError as e:
    print(f"❌ 경로 1 실패: {e}")

# 시도 2
try:
    from llama_index.core.agent.react.base import ReActAgentWorker
    print("✅ 경로 2 성공")
except ImportError as e:
    print(f"❌ 경로 2 실패: {e}")

# 시도 3
try:
    from llama_index.agent.react import ReActAgentWorker
    print("✅ 경로 3 성공")
except ImportError as e:
    print(f"❌ 경로 3 실패: {e}")

# 시도 4 - ReActAgent만 직접 사용
try:
    from llama_index.core.agent import ReActAgent
    print("✅ ReActAgent 사용 가능")
    print("사용 가능한 메서드:", [m for m in dir(ReActAgent) if not m.startswith('_')])
except ImportError as e:
    print(f"❌ ReActAgent 실패: {e}")

❌ 경로 1 실패: cannot import name 'ReActAgentWorker' from 'llama_index.core.agent.react' (/home/hojin/airflow-env/lib/python3.12/site-packages/llama_index/core/agent/react/__init__.py)
❌ 경로 2 실패: No module named 'llama_index.core.agent.react.base'
❌ 경로 3 실패: No module named 'llama_index.agent'
✅ ReActAgent 사용 가능
사용 가능한 메서드: ['add_step', 'aggregate_tool_results', 'call_tool', 'construct', 'copy', 'dict', 'events', 'finalize', 'from_orm', 'get_prompts', 'get_tools', 'handle_tool_call_results', 'init_run', 'json', 'model_computed_fields', 'model_config', 'model_construct', 'model_copy', 'model_dump', 'model_dump_json', 'model_extra', 'model_fields', 'model_fields_set', 'model_json_schema', 'model_parametrized_name', 'model_post_init', 'model_rebuild', 'model_validate', 'model_validate_json', 'model_validate_strings', 'parse_agent_output', 'parse_file', 'parse_obj', 'parse_raw', 'run', 'run_agent_step', 'schema', 'schema_json', 'setup_agent', 'start_event_class', 'stop_event_class', 'take_step', 'update_forward_refs', 'update_prompts', 'validate', 'validate_formatter', 'validate_tools']

In [1]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('/mnt/c/Users/hojin/OneDrive/바탕 화면/Kaggle/PitWall-AI/data/f1_data.db')

In [4]:
# 1. 2025년 라스베이거스에 어떤 데이터가 있는지 확인
query = "SELECT Driver, Compound, COUNT(*) as Laps, ROUND(AVG(LapTime_Sec), 3) as Avg_Pace FROM lap_times WHERE RaceID LIKE '%Las_Vegas%' AND RaceID NOT LIKE '%Practice%' AND RaceID NOT LIKE '%Qualifying%' AND IsAccurate = 1 GROUP BY Driver, Compound ORDER BY Driver;"
df = pd.read_sql_query(query, conn)

In [5]:
df

   Driver Compound  Laps  Avg_Pace
0     ALB     HARD    71    97.971
1     ALB   MEDIUM    16   100.280
2     ALO     HARD   117    98.161
3     ALO   MEDIUM    11    97.807
4     ALO     SOFT     2   100.379
5     ANT     HARD    45    95.700
6     BEA     HARD    32    96.085
7     BEA   MEDIUM    11    97.785
8     BOT     HARD    43   100.339
9     BOT   MEDIUM    38    99.907
10    COL     HARD    56    98.759
11    COL   MEDIUM    31    96.851
12    GAS     HARD    77    97.579
13    GAS   MEDIUM    18   100.040
14    HAD     HARD    29    95.364
15    HAD   MEDIUM    14    97.426
16    HAM     HARD    88    97.452
17    HAM   MEDIUM    38    97.197
18    HUL     HARD    86    98.060
19    HUL   MEDIUM    36    97.713
20    LAW     HARD    76    97.638
21    LAW   MEDIUM     9   100.151
22    LEC     HARD    86    96.570
23    LEC   MEDIUM    39    98.140
24    MAG     HARD    64    98.556
25    MAG   MEDIUM    22   100.999
26    NOR     HARD    62    96.598
27    NOR   MEDIUM    23    97.319
28    OCO     HARD    79    97.510
29    OCO   MEDIUM    42    98.828
30    OCO     SOFT     3    96.908
31    PER     HARD    73    98.216
32    PER   MEDIUM    13    98.326
33    PIA     HARD    95    97.266
34    PIA   MEDIUM    29    97.615
35    RIC     HARD    29    98.903
36    RIC   MEDIUM    10   101.440
37    RUS     HARD    96    96.852
38    RUS   MEDIUM    29    98.150
39    SAI     HARD   104    97.312
40    SAI   MEDIUM    24    97.751
41    SAR     HARD    31    98.975
42    SAR   MEDIUM     8   100.632
43    STR     HARD    79    98.500
44    STR   MEDIUM     7   100.237
45    TSU     HARD    79    98.416
46    TSU   MEDIUM    39    97.525
47    TSU     SOFT     3   102.576
48    VER     HARD    89    96.514
49    VER   MEDIUM    37    97.733
50    ZHO     HARD    55    99.233
51    ZHO   MEDIUM    31    99.134

In [11]:
query = "SELECT * FROM race_results WHERE RaceID LIKE '2025%' AND RaceID LIKE '%Las_Vegas%'"

In [5]:
query = " SELECT Position, Driver, GridPosition, Points, Status FROM race_results WHERE RaceID LIKE '%2025%Las_Vegas%' AND RaceID NOT LIKE '%Practice%' AND RaceID NOT LIKE '%Qualifying%' ORDER BY Position ASC;"

In [6]:
df = pd.read_sql_query(query, conn)

In [7]:
df

    Position Driver  GridPosition  Points        Status
0        1.0    VER           2.0    25.0      Finished
1        2.0    RUS           4.0    18.0      Finished
2        3.0    ANT          17.0    15.0      Finished
3        4.0    LEC           9.0    12.0      Finished
4        5.0    SAI           3.0    10.0      Finished
5        6.0    HAD           8.0     8.0      Finished
6        7.0    HUL          11.0     6.0      Finished
7        8.0    HAM          19.0     4.0      Finished
8        9.0    OCO          13.0     2.0      Finished
9       10.0    BEA          14.0     1.0      Finished
10      11.0    ALO           7.0     0.0      Finished
11      12.0    TSU          20.0     0.0      Finished
12      13.0    GAS          10.0     0.0      Finished
13      14.0    LAW           6.0     0.0        Lapped
14      15.0    COL          15.0     0.0        Lapped
15      16.0    ALB          16.0     0.0       Retired
16      17.0    BOR          18.0     0.0       Retired
17      18.0    STR          12.0     0.0       Retired
18      19.0    NOR           1.0     0.0  Disqualified
19      20.0    PIA           5.0     0.0  Disqualified

In [18]:
from dotenv import load_dotenv
import os


GOOGLE_API_KEY = os.getenv("GOOGLE_API_KEY")

In [19]:
import google.generativeai as genai
import os

genai.configure(api_key=os.getenv("GOOGLE_API_KEY"))

# 사용 가능한 embedding 모델 목록 출력
for model in genai.list_models():
    if 'embedContent' in model.supported_generation_methods:
        print(f"✅ {model.name}")

✅ models/gemini-embedding-001

In [25]:
# 간단한 테스트
import os
from llama_index.embeddings.google_genai import GoogleGenAIEmbedding

api_key = os.getenv("GOOGLE_API_KEY")
embed_model = GoogleGenAIEmbedding(
    model_name="models/gemini-embedding-001",
    api_key=api_key
)

# 테스트
result = embed_model.get_text_embedding("hello world")
print(f"임베딩 차원: {len(result)}")  # 768 나오면 성공

임베딩 차원: 3072